.wrapper {
    width: 100%;
    height: 100%;
    display: block;
}
.title {
    width: 132px;
    height: 28px;
    font-family: "Readex Pro", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}
.link {
    display: block;
    height: 36px;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
    color: #000;
}