.wrapper {
    width: 1014px;
    height: 80px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
}
.link {
    margin: 10px;
    color: black;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
}
.link:hover {
    cursor: pointer;
}